
#topSection{
    background-color:#232323;
}
.mainSection{
  padding:100px;
  position: relative;
}
#features{
    background-color:#FFF3E2;
    position: relative;
    bottom: 400px;
    z-index: 2;
}
.botton1{
  margin-right: 50px;
}
.doggystyle{
  transform: rotate(15deg);
  padding-top: 20px;
  position: relative;
z-index: 1;
}

.row{
  padding: 100px;
  text-align: center;
}
.brandName{
  font-size: 2.5rem;
  position:relative;
  top: 25px;
}
.nav-link{
  font-size: 1.5rem;
}
.bottonPos{
  padding-top: 200px;

}
.fas:hover{
  color: gray;
  margin-bottom: 2rem;


}
.faspos{
  position: relative;
  top:200px;
}






.carousel-item{
    padding: 7% 15%;
}
.pricingHead{
  text-align: center;
  padding-top: 7%;
}


.interview{

  text-align: center;
  color: white;
}
.dogtestimonial{
  font-family: "Montserrat";
  font-size: 2.5rem;
}

















                                                                   /* dddddddddddddnnnnnnnnnnnnnnnnnnnnnnaaaaaaaaaaaaaaaaaa */
